.exhibitions-banner {
    padding: 1rem 0;
    background-color: var(--color-primary);
    font-size: 1.25rem;
    text-align: center;

    a {
        color: $white;
        padding: 1rem;
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 0.5rem;

        &:hover {
            border: 1px solid $white;
        }
    }
}